#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #C1E1C1
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.home-button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 10px;
  cursor: pointer;
}

.home-button img {
  width: 100px;
  height: 100px;
}